{% extends "layout.html" %}
{% block content %}

	

<br><br>
<div class="container-fluid">
<div class="row">	
	<h1 class="mx-auto text-white">Welcome to Crocodile image search engine !</h1>
        <br><br>
    </div>
    <br><br><br>
<div class="row">
	<div class="mx-auto">
	<form  action="" enctype='multipart/form-data' method="POST">
	  <div class="form-group">
	  	<div class="row">
	  		<div class="mx-auto">
	  		<div class="col-md-12">
	  		
	    <input type="file" name="file" class="form-control-file text-white" id="exampleFormControlFile1">
	  		</div>
	  		<br>
	  		<div class="col-md-12"><button type="submit" class="btn btn-light btn-lg"> Search images </button>
	  		</div></div>
	  	</div>
	    
	    
	    
</div>
	  
	</form></div>
</div>
 </div>




{% endblock content%}